section {
    background-color: rgb(243, 243, 243);
}

.bigbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .todosbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        height: 50px;
        margin: 10px 0px 10px 0px;
        padding: 30px 20px 33px 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: -2px 2px 2px rgb(46, 46, 46);
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-weight: bolder;
        transition: all 0.2s ease-in-out;

        .textbox {
            display: flex;

            .title {
                margin-right: 10px;
                color: rgb(0, 204, 204);
            }
        }

        .booleanbox {
            display: flex;

            .check {
                color: green;
                margin-left: 10px;
            }

            .faXmark {
                color: red;
                margin-left: 15px;
            }
        }
    }

    .todosbox:hover {
        transform: scale(1.007);
    }
}
