

  <header class="header">
    
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" class="logobox" routerLink="/home">

    <nav>
      <ul class="unorderedlist"> 
        <li>
          <a class="adress" routerLink="/posts" routerLinkActive="active">Posts</a>
        </li>
        <li>
          <a class="adress" routerLink="/albums" routerLinkActive="active">Albums</a>
        </li>
        <li>
          <a class="adress" routerLink="/todos" routerLinkActive="active">Todos</a>
        </li>
      </ul>
    </nav>

  </header>

<router-outlet></router-outlet>