

  <header class="header">
    <fa-icon [icon]="house" class="logobox" routerLink="/home"></fa-icon>

    <nav>
      <ul class="unorderedlist"> 
        <li>
          <a class="adress" routerLink="/posts" routerLinkActive="active">Posts</a>
        </li>
        <li>
          <a class="adress" routerLink="/albums" routerLinkActive="active">Albums</a>
        </li>
        <li>
          <a class="adress" routerLink="/todos" routerLinkActive="active">Todos</a>
        </li>
      </ul>
    </nav>

  </header>

<router-outlet></router-outlet>