$background: linear-gradient(180deg, #b8c6db 0%, #f5f7fa 74%);
$darkcyan: rgb(0, 109, 109);
$luicidafont: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

.section1 {
    padding: 70px 0px 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .buttonbox {
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
            width: 120px;
            height: 40px;
            background-color: $darkcyan;
            border-color: $darkcyan;
            font-family: $luicidafont;
            letter-spacing: 1.5px;
            color: white;
            border-radius: 5px;
            margin-bottom: 20px;
        }
    }

    // Form

    .formbox {
        background-color: #e2e2e2;
        display: flex;
        align-items: center;
        flex-direction: column;

        .smallbox {
            padding: 30px 70px 30px 70px;
        }

        .inputbox {
            display: flex;
            flex-direction: column;
        }

        .label {
            font-family: $luicidafont;
            color: $darkcyan;
            font-size: 14px;
            margin-top: 30px;
            margin-bottom: 5px;
        }

        .input {
            width: 600px;
            height: 30px;
            border: 1px solid silver;
            margin-bottom: 10px;
        }

        .input:focus {
            outline: none;
        }

        // Buttons

        .twobuttonbox {
            display: flex;
            align-items: flex-start;
            margin-top: 30px;

            .addbox {
                margin-right: 30px;
            }

            .add {
                width: 80px;
                height: 35px;
                font-family: $luicidafont;
                color: white;
                background-color: rgb(0, 25, 167);
                border: none;
                border-radius: 2px;
                cursor: pointer;
            }

            .reset {
                width: 80px;
                height: 35px;
                font-family: $luicidafont;
                color: white;
                background-color: red;
                border: none;
                border-radius: 2px;
                cursor: pointer;
            }
        }

        // Errors

        .errorbox {
            display: flex;
            justify-content: center;
            font-family: $luicidafont;
            font-size: 13px;
            font-style: italic;
            font-weight: bolder;
            color: rgb(196, 0, 75);
        }
    }
}

// Section II

.section2 {
    .bigbox {
        display: flex;
        flex-direction: column;
        align-items: center;

        .titlebox {
            width: 90%;
            padding: 18px 0px 18px 0px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgb(0, 109, 109);
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

            .h4title {
                margin-right: 40px;
            }
        }

        .container {
            width: 90%;
            transition: all 0.2s linear;
            cursor: pointer;

            .childcontainer {
                display: grid;
                padding: 40px 0px 40px 0px;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                background-color: white;
                border-bottom: 1px solid #b8c6db;
                font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

                .usertext {
                    text-align: start;
                    margin-left: 30px;
                }

                .usertitle {
                    text-align: start;
                    padding-right: 50px;
                }

                .userbody {
                    text-align: start;
                    font-size: 14px;
                }
            }
        }

        .container:hover {
            transform: scale(1.005);
            box-shadow: -2px 2px 3px #b8c6db;
        }
    }
}
